#Mappings for color names to hex values. Place mappings here to use these names
#in C++ code in the desired format
NONE = 0x00000000
WHITE = 0xffffffff
RED = 0xff0000ff
GREEN = 0x00ff00ff
BLUE = 0x0000ffff
YELLOW = 0xffff00ff
CYAN = 0x00ffffff
MAGENTA = 0xff00ffff
GRAY = 0x808080ff
LIGHT_PINK = 0xff99ffff
BLACK = 0x000000ff
